Data from: Targetscan - summary counts
* computationally predicted +- targets
* vert: https://www.targetscan.org/cgi-bin/targetscan/data_download.cgi?db=vert_61  



* Human species id: 9606
* Mouse: 10090
* Rattus norvegicus (Norway rat) : 10116
* Drosophila melanogaster : 7227
* C elegans nematode/roundworm: 6239
* Zebrafish (fish source): 7955

In [1]:
import pandas as pd

In [9]:
## drop cols and notably 'miR Family', 'Gene ID',  - we just want genes targetted : 
df_vert = pd.read_csv("vert_Predicted_Targets_Info.default_predictions.tsv",sep="\t",usecols=['Gene Symbol', 'Species ID']).drop_duplicates()
df_vert

       Gene Symbol  Species ID
0             A1BG        9606
1             A1BG        9598
2             A1BG        9544
3             A1BG        9615
4             A1CF        9544
...            ...         ...
718087        ZZZ3        9606
718093        ZZZ3        9031
718098        ZZZ3       10090
718112        ZZZ3        8364
718210        ZZZ3       13616

[96004 rows x 2 columns]

In [10]:
df_vert.nunique()

Gene Symbol    13759
Species ID        10
dtype: int64

In [11]:
df_vert["Species ID"].value_counts()

9606     13035
9544     12148
9598     11803
9913     11412
9615     11386
10090    11217
10116    10771
13616     7278
9031      4441
8364      2513
Name: Species ID, dtype: int64

In [14]:
df_fly = pd.read_csv("fly_Predicted_Targets_Info.default_predictions.txt",sep="\t",usecols=['Gene Symbol', 'Species ID']).drop_duplicates()
df_fly["Species ID"].value_counts()

29030      5787
7227       5759
29029      5737
30023      5722
7220       5711
7238       5701
30025      5684
7245       5674
1041015    5452
125945     5414
7240       5252
28584      5197
30033      5193
42026      5006
7217       4827
7234       4456
7229       4454
7237       4388
7244       3435
7230       3240
7222       3221
7260       3131
7291       2529
7370        710
7165        275
7070        239
7460        148
Name: Species ID, dtype: int64

7227 (fruit fly): 5759

In [16]:
## zebrafish
df_fish = pd.read_csv("zfish_Summary_Counts.txt",sep="\t",usecols=['Gene Symbol', 'Species ID']).drop_duplicates()
df_fish["Species ID"].value_counts()

7955    19692
Name: Species ID, dtype: int64

In [18]:
df_worm = pd.read_csv("worm_Summary_Counts.txt",sep="\t",usecols=['Gene Symbol', 'Species ID']).drop_duplicates()
df_worm["Species ID"].value_counts()

6239    15786
Name: Species ID, dtype: int64